* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background: red;
}

.nav-links {
  list-style-type: none;
  text-align: center;

  a {
    color: rgb(150, 150, 150);
  }

  .active {
    color: white;
  }
}

.social-links {
  font-size: 48px;
}
